[submodule "busing"]
	path = busing
	url = https://github.com/jnu/busing
[submodule "epl"]
	path = epl
	url = https://github.com/jnu/eplfantasy
[submodule "stickto"]
	path = stickto
	url = https://github.com/jnu/jquery-stickto
[submodule "deathrow"]
	path = deathrow
	url = https://github.com/jnu/texecutions
[submodule "php"]
	path = php
	url = https://github.com/jnu/jnu-works-php
