[submodule "busing"]
	path = content/busing
	url = https://github.com/jnu/busing
[submodule "epl"]
	path = content/epl
	url = https://github.com/jnu/eplfantasy
[submodule "stickto"]
	path = content/stickto
	url = https://github.com/jnu/jquery-stickto
[submodule "deathrow"]
	path = content/deathrow
	url = https://github.com/jnu/texecutions
[submodule "php"]
	path = linked/php
	url = https://github.com/jnu/jnu-works-php
